@page
@using web_NIN.Models
@model web_NIN.Pages.selectModel
@{
}


<!-- Tabs Titles -->
<!-- Icon -->


<div class="form-group">
    <label>view agent</label>
    <select class="form-control" onchange="get_agent_select()" id="agent">

        <option value="select">-agent-</option>
        @foreach (var std in (IEnumerable<agent_model>)ViewData["agent_list"])
        {
            <option value="@std.operatorName">@std.operatorName</option>
        }
    </select>
    <br />
    <button type="button" class="btn btn-secondary" onclick="next()">view</button>
</div>


<div class="form-group">

    <a href="assign" class="btn btn-outline-primary" role="button" aria-disabled="true">assign กลุ่มคุณแม่ตั้งครรภ์</a>
    <a href="second" class="btn btn-outline-secondary" role="button" aria-disabled="true">เลือกการโทรอีกครั้ง กลุ่มคุณแม่ตั้งครรภ์</a>
    <a href="assign_baby" class="btn btn-outline-success" role="button" aria-disabled="true">assign กลุ่มคุณแม่คลอดแล้ว</a>
    <a href="secondbaby" class="btn btn-outline-danger" role="button" aria-disabled="true">เลือกการโทรอีกครั้ง กลุ่มคุณแม่คลอดแล้ว</a>
    <a href="edit" class="btn btn-outline-warning" role="button" aria-disabled="true">report</a>

</div>


    @section scripts{
        <script>
            var st_agent;
            function get_agent_select() {
                let agent = document.getElementById("agent").value;
                //alert("agent");
                st_agent = agent;
            }
            function next() {
                window.location.href = "Main?agent=" + st_agent;

            }
        </script>

    }
